# Examples of Use

First load the extension.

In [1]:
%load_ext kusto

## Show Help

In [2]:
%kqlset?

Docstring:
::

  %configure [-c CLUSTER] [-d DATABASE]

 Set the default Kusto cluster and/or database. This overrides
what is in the extension configuration, but can in turn be overriden
per query by the %kql magic.

optional arguments:
  -c CLUSTER, --cluster CLUSTER
                        specify default cluster
  -d DATABASE, --database DATABASE
                        specify default database
File:      ~/repos/ipython-kusto/.venv/lib/python3.8/site-packages/ipython_kusto-0.0.2-py3.8.egg/kusto/magic.py

In [3]:
%kql?

Docstring:
::

  %execute [-c CLUSTER] [-d DATABASE] [-f FILE] [-s SET] [-q]
               [line [line ...]]

Runs KQL statement against a database in a cluster.
If necessary, an attempt will be made to log in to Azure first.
The result is returned as a Pandas DataFrame and assigned to a
Python variable (by default named kqlresult, unless overridden by --set).

positional arguments:
  line                  kql query

optional arguments:
  -c CLUSTER, --cluster CLUSTER
                        specify cluster
  -d DATABASE, --database DATABASE
                        specify database
  -f FILE, --file FILE  Run KQL from file at this path
  -s SET, --set SET     name of Python variable to assign result to
  -q, --quiet           Don't display dataframe
File:      ~/repos/ipython-kusto/.venv/lib/python3.8/site-packages/ipython_kusto-0.0.2-py3.8.egg/kusto/magic.py

## Run a Query and set a Variable

Note: if necessary you will be redirected to a browser page to select your account and log in.

In [4]:
%%kql -c help -d Samples -s df
StormEvents | limit 5

,StartTime,EndTime,EpisodeId,EventId,State,EventType,InjuriesDirect,InjuriesIndirect,DeathsDirect,DeathsIndirect,...,Source,BeginLocation,EndLocation,BeginLat,BeginLon,EndLat,EndLon,EpisodeNarrative,EventNarrative,StormSummary
0,2007-09-29 08:11:00+00:00,2007-09-29 08:11:00+00:00,11091,61032,ATLANTIC SOUTH,Waterspout,0,0,0,0,...,Trained Spotter,MELBOURNE BEACH,MELBOURNE BEACH,28.0393,-80.6048,28.0393,-80.6048,Showers and thunderstorms lingering along the ...,A waterspout formed in the Atlantic southeast ...,"{'TotalDamages': 0, 'StartTime': '2007-09-29T0..."
1,2007-09-18 20:00:00+00:00,2007-09-19 18:00:00+00:00,11074,60904,FLORIDA,Heavy Rain,0,0,0,0,...,Trained Spotter,ORMOND BEACH,NEW SMYRNA BEACH,29.2800,-81.0500,29.0200,-80.9300,Thunderstorms lingered over Volusia County.,As much as 9 inches of rain fell in a 24-hour ...,"{'TotalDamages': 0, 'StartTime': '2007-09-18T2..."
2,2007-09-20 21:57:00+00:00,2007-09-20 22:05:00+00:00,11078,60913,FLORIDA,Tornado,0,0,0,0,...,NWS Storm Survey,EUSTIS,EUSTIS,28.8368,-81.6763,28.8628,-81.6846,As Tropical Depression number 10 began to slow...,A tornado touched down in the Town of Eustis a...,"{'TotalDamages': 6200000, 'StartTime': '2007-0..."
3,2007-12-30 16:00:00+00:00,2007-12-30 16:05:00+00:00,11749,64588,GEORGIA,Thunderstorm Wind,0,0,0,0,...,Law Enforcement,LOTTS,LOTTS,31.5600,-82.8900,31.5600,-82.8900,An area of low pressure developed near the cen...,The county dispatch reported several trees wer...,"{'TotalDamages': 2000, 'StartTime': '2007-12-3..."
4,2007-12-20 07:50:00+00:00,2007-12-20 07:53:00+00:00,12554,68796,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,...,Emergency Manager,CRANFIELD,LEESDALE,31.5400,-91.2100,31.5452,-91.1948,"A small, but potent, storm system evolved and ...",Numerous large trees were blown down with some...,"{'TotalDamages': 20000, 'StartTime': '2007-12-..."

In [5]:
df

,StartTime,EndTime,EpisodeId,EventId,State,EventType,InjuriesDirect,InjuriesIndirect,DeathsDirect,DeathsIndirect,...,Source,BeginLocation,EndLocation,BeginLat,BeginLon,EndLat,EndLon,EpisodeNarrative,EventNarrative,StormSummary
0,2007-09-29 08:11:00+00:00,2007-09-29 08:11:00+00:00,11091,61032,ATLANTIC SOUTH,Waterspout,0,0,0,0,...,Trained Spotter,MELBOURNE BEACH,MELBOURNE BEACH,28.0393,-80.6048,28.0393,-80.6048,Showers and thunderstorms lingering along the ...,A waterspout formed in the Atlantic southeast ...,"{'TotalDamages': 0, 'StartTime': '2007-09-29T0..."
1,2007-09-18 20:00:00+00:00,2007-09-19 18:00:00+00:00,11074,60904,FLORIDA,Heavy Rain,0,0,0,0,...,Trained Spotter,ORMOND BEACH,NEW SMYRNA BEACH,29.2800,-81.0500,29.0200,-80.9300,Thunderstorms lingered over Volusia County.,As much as 9 inches of rain fell in a 24-hour ...,"{'TotalDamages': 0, 'StartTime': '2007-09-18T2..."
2,2007-09-20 21:57:00+00:00,2007-09-20 22:05:00+00:00,11078,60913,FLORIDA,Tornado,0,0,0,0,...,NWS Storm Survey,EUSTIS,EUSTIS,28.8368,-81.6763,28.8628,-81.6846,As Tropical Depression number 10 began to slow...,A tornado touched down in the Town of Eustis a...,"{'TotalDamages': 6200000, 'StartTime': '2007-0..."
3,2007-12-30 16:00:00+00:00,2007-12-30 16:05:00+00:00,11749,64588,GEORGIA,Thunderstorm Wind,0,0,0,0,...,Law Enforcement,LOTTS,LOTTS,31.5600,-82.8900,31.5600,-82.8900,An area of low pressure developed near the cen...,The county dispatch reported several trees wer...,"{'TotalDamages': 2000, 'StartTime': '2007-12-3..."
4,2007-12-20 07:50:00+00:00,2007-12-20 07:53:00+00:00,12554,68796,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,...,Emergency Manager,CRANFIELD,LEESDALE,31.5400,-91.2100,31.5452,-91.1948,"A small, but potent, storm system evolved and ...",Numerous large trees were blown down with some...,"{'TotalDamages': 20000, 'StartTime': '2007-12-..."

## Example showing variable substitution

In [6]:
cluster = 'help'
database = 'Samples'
table = 'StormEvents'
limit = 3

In [7]:
%%kql -c {cluster} -d {database}
{table} | limit {limit}

,StartTime,EndTime,EpisodeId,EventId,State,EventType,InjuriesDirect,InjuriesIndirect,DeathsDirect,DeathsIndirect,...,Source,BeginLocation,EndLocation,BeginLat,BeginLon,EndLat,EndLon,EpisodeNarrative,EventNarrative,StormSummary
0,2007-09-29 08:11:00+00:00,2007-09-29 08:11:00+00:00,11091,61032,ATLANTIC SOUTH,Waterspout,0,0,0,0,...,Trained Spotter,MELBOURNE BEACH,MELBOURNE BEACH,28.0393,-80.6048,28.0393,-80.6048,Showers and thunderstorms lingering along the ...,A waterspout formed in the Atlantic southeast ...,"{'TotalDamages': 0, 'StartTime': '2007-09-29T0..."
1,2007-09-18 20:00:00+00:00,2007-09-19 18:00:00+00:00,11074,60904,FLORIDA,Heavy Rain,0,0,0,0,...,Trained Spotter,ORMOND BEACH,NEW SMYRNA BEACH,29.2800,-81.0500,29.0200,-80.9300,Thunderstorms lingered over Volusia County.,As much as 9 inches of rain fell in a 24-hour ...,"{'TotalDamages': 0, 'StartTime': '2007-09-18T2..."
2,2007-09-20 21:57:00+00:00,2007-09-20 22:05:00+00:00,11078,60913,FLORIDA,Tornado,0,0,0,0,...,NWS Storm Survey,EUSTIS,EUSTIS,28.8368,-81.6763,28.8628,-81.6846,As Tropical Depression number 10 began to slow...,A tornado touched down in the Town of Eustis a...,"{'TotalDamages': 6200000, 'StartTime': '2007-0..."

## Using %kqlset to Set Default Cluster and Database

In [8]:
%kqlset -c help -d Samples

In [9]:
%%kql
StormEvents | limit 4

,StartTime,EndTime,EpisodeId,EventId,State,EventType,InjuriesDirect,InjuriesIndirect,DeathsDirect,DeathsIndirect,...,Source,BeginLocation,EndLocation,BeginLat,BeginLon,EndLat,EndLon,EpisodeNarrative,EventNarrative,StormSummary
0,2007-09-29 08:11:00+00:00,2007-09-29 08:11:00+00:00,11091,61032,ATLANTIC SOUTH,Waterspout,0,0,0,0,...,Trained Spotter,MELBOURNE BEACH,MELBOURNE BEACH,28.0393,-80.6048,28.0393,-80.6048,Showers and thunderstorms lingering along the ...,A waterspout formed in the Atlantic southeast ...,"{'TotalDamages': 0, 'StartTime': '2007-09-29T0..."
1,2007-09-18 20:00:00+00:00,2007-09-19 18:00:00+00:00,11074,60904,FLORIDA,Heavy Rain,0,0,0,0,...,Trained Spotter,ORMOND BEACH,NEW SMYRNA BEACH,29.2800,-81.0500,29.0200,-80.9300,Thunderstorms lingered over Volusia County.,As much as 9 inches of rain fell in a 24-hour ...,"{'TotalDamages': 0, 'StartTime': '2007-09-18T2..."
2,2007-09-20 21:57:00+00:00,2007-09-20 22:05:00+00:00,11078,60913,FLORIDA,Tornado,0,0,0,0,...,NWS Storm Survey,EUSTIS,EUSTIS,28.8368,-81.6763,28.8628,-81.6846,As Tropical Depression number 10 began to slow...,A tornado touched down in the Town of Eustis a...,"{'TotalDamages': 6200000, 'StartTime': '2007-0..."
3,2007-12-30 16:00:00+00:00,2007-12-30 16:05:00+00:00,11749,64588,GEORGIA,Thunderstorm Wind,0,0,0,0,...,Law Enforcement,LOTTS,LOTTS,31.5600,-82.8900,31.5600,-82.8900,An area of low pressure developed near the cen...,The county dispatch reported several trees wer...,"{'TotalDamages': 2000, 'StartTime': '2007-12-3..."

# Show Default Variable

In [10]:
kqlresult

,StartTime,EndTime,EpisodeId,EventId,State,EventType,InjuriesDirect,InjuriesIndirect,DeathsDirect,DeathsIndirect,...,Source,BeginLocation,EndLocation,BeginLat,BeginLon,EndLat,EndLon,EpisodeNarrative,EventNarrative,StormSummary
0,2007-09-29 08:11:00+00:00,2007-09-29 08:11:00+00:00,11091,61032,ATLANTIC SOUTH,Waterspout,0,0,0,0,...,Trained Spotter,MELBOURNE BEACH,MELBOURNE BEACH,28.0393,-80.6048,28.0393,-80.6048,Showers and thunderstorms lingering along the ...,A waterspout formed in the Atlantic southeast ...,"{'TotalDamages': 0, 'StartTime': '2007-09-29T0..."
1,2007-09-18 20:00:00+00:00,2007-09-19 18:00:00+00:00,11074,60904,FLORIDA,Heavy Rain,0,0,0,0,...,Trained Spotter,ORMOND BEACH,NEW SMYRNA BEACH,29.2800,-81.0500,29.0200,-80.9300,Thunderstorms lingered over Volusia County.,As much as 9 inches of rain fell in a 24-hour ...,"{'TotalDamages': 0, 'StartTime': '2007-09-18T2..."
2,2007-09-20 21:57:00+00:00,2007-09-20 22:05:00+00:00,11078,60913,FLORIDA,Tornado,0,0,0,0,...,NWS Storm Survey,EUSTIS,EUSTIS,28.8368,-81.6763,28.8628,-81.6846,As Tropical Depression number 10 began to slow...,A tornado touched down in the Town of Eustis a...,"{'TotalDamages': 6200000, 'StartTime': '2007-0..."
3,2007-12-30 16:00:00+00:00,2007-12-30 16:05:00+00:00,11749,64588,GEORGIA,Thunderstorm Wind,0,0,0,0,...,Law Enforcement,LOTTS,LOTTS,31.5600,-82.8900,31.5600,-82.8900,An area of low pressure developed near the cen...,The county dispatch reported several trees wer...,"{'TotalDamages': 2000, 'StartTime': '2007-12-3..."